SUPABASE_URL= https://bhtzntmqlafxtrryovzd.supabase.co/rest/v1/
SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJodHpudG1xbGFmeHRycnlvdnpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNjM3NDMsImV4cCI6MjA4ODYzOTc0M30.5hMrAlGY77V9ELFfmXiXCwy3sqhd1UqMAOUD3Wm9k9s
